h2 {
	text-align: center;
	font-family: Roboto Slab, serif;
}

.normalText {
	font-family: Roboto, sans-serif;
}

form li {
	font-family: Roboto, sans-serif;
	list-style: none;
	margin-bottom: 10px;
}

form ul li label {
	float: left;
	clear: left;
	width: 300px;
	text-align: left;
	margin-right: 10px;
}

form ul li input select span{
	float: left;
	margin-bottom: 10px;
}

form input, textarea, option {
	width: 350px;
	font-family: monospace;
}

#googleMap {
	float: left;
	width: 300px;
	height: 150px;
}

#submit {
	clear: left;
	font-family: Roboto Slab, serif;
	margin: 20px 0px 20px 300px;
	font-size: 20px;
	font-family: Roboto; 
}

